<!DOCTYPE html>
<html>

<head>
    <%- include ("../partials/header.ejs") %>
</head>

<body class="bg-secondary">
    <%- include ("../partials/nav.ejs") %>
    <div class='container align-items-center text-center'>
        <form action="" method="post">
            <div class="form-group">
              <label for="formGroupExampleInput">Search for user:</label>
              <input type="text" class="form-control" id="username" name="username" placeholder="Enter username here">
            </div>
            <button type="submit" class="btn btn-secondary bg-dark col">Search</button>
          </form>
    </div>
    <div class = "container align-items-center text-center">
        <%  if(locals.users) {console.log(users); users.forEach(user => { %> 
            <% console.log(user) %>
            <p><%= user.password %></p>
        <% }) } %>
    </div>
</body>

</html>